@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


:root {
  --background-color : #1C1C1C;
  --header-color: #665148;
  --sub-color: #C8B9AA;
  --text-color: #F5F5F5;
  --pre-background-color: var(--background-color);
  --pre-header-color: var(--header-color);
  --pre-sub-color: var(--header-color);
  --pre-text-color: #fff;
  --pre-text-color2: #1d2a3a; 
}

@keyframes slide-left {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-left2 {
  0% {
    transform: translateX(-150%);
  }
  80% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slide-right2 {
  0% {
    transform: translateX(100%);
  }
  80% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-50%);
  }
}

body {
  background-color: black;
  /* font-family: "Noto Sans KR", sans-serif; */
  font-family: 'pretendard', sans-serif;
  color: white;
  padding: 0 20%;
}

.Menu {
  background-color: var(--header-color);
  display: flex;
  position: fixed;
  width: 60%;
  z-index: 1000;
}

.Menu .Menu-1 {
  width: 300px;
  margin-left: 30px;
  font-size: 1em;
}

.Menu .Menu-1 a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.Menu .Menu-2 {
  text-align: right;
  top: 30px;
  right: 50px;
  position: absolute;
  font-size: 1em;
}

.Menu .Menu-2 a {
  border-radius: 100px;
  margin-left: 50px;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  background-color: var(--background-color);
  border: 3px solid transparent; /* 투명한 테두리 추가 */
}

.Menu .Menu-2 a:hover {
  border-color: #fff; /* 호버 상태에서 테두리 색상 변경 */
}

.Menu .Menu-2 .ham {
  display: none;
}

.dashboard {
  background-color: var(--background-color);
  padding: 150px 50px;
}

.dashboard .dashboard-1 {
  position: relative;
  height: 300px;
}

.dashboard .dashboard-1 h1 {
  animation: slide-left;
  animation-duration: 1s;
}

.dashboard .dashboard-1 p {
  width: 60%;
  font-size: 1.5em;
  margin: 0px;
  animation: slide-right;
  animation-duration: 1s;
}

.dashboard .dashboard-1 img {
  animation: slide-right;
  animation-duration: 1s;
  width: 180px;
  position: absolute;
  right: 0%;
  top: 0%;
  border-radius: 7px;
}

.dashboard .dashboard-2 {
  padding-bottom: 40px;
}

.dashboard .dashboard-2 h2 {
  animation: slide-left;
  animation-duration: 1s;
}

.dashboard .dashboard-2 ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  animation: slide-right;
  animation-duration: 1s;
}

.dashboard .dashboard-2 ul li {
  list-style-type: none;
  width: 33%;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 1em;
  color: var(--sub-color);
}

.dashboard .dashboard-2 ul li span {
  color: var(--text-color);
}

.dashboard .dashboard-3 {
  padding-bottom: 40px;
  animation: slide-right;
  animation-duration: 1s;
}

.dashboard .dashboard-3 p {
  font-size: 1em;
}

.dashboard .dashboard-3 ul {
  padding-left: 0;
}

.dashboard .dashboard-3 li {
  list-style-type: none;
}

.dashboard .dashboard-4 ul {
  padding-left: 0;
}

.dashboard .dashboard-4 li {
  list-style-type: none;
}

@keyframes good {
  0% {
    transition: all 1.1s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0s;
    letter-spacing: 20px;
  }
}

.Skills {
  background-color: var(--background-color);
  text-align: center;
  padding: 100px 50px;
}

.Skills .title {
  height: 100px;
  position: relative;
}

.Skills .title .small {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  animation: slide-left2;
  animation-duration: 1s;
  z-index: 100;
}

.Skills .title .big {
  font-family: sans-serif;
  position: absolute;
  font-size: 3em;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  animation: slide-right2;
  animation-duration: 1s;
  letter-spacing: 0px;
  font-weight: 1000;
  opacity: 1;
}

.Skills .Skills-1 {
  padding: 50px 0 50px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.Skills .Skills-1 div {
  box-sizing: border-box;
  width: 45%;
  border: 1px solid white;
  border-radius: 7px;
  margin: 0 10px 30px;
  padding: 10px;
  animation: slide-right;
  animation-duration: 1s;
}

.Skills .Skills-1 div div {
  border: none;
  padding: 5px;
  margin: 0px;
  display: flex;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--header-color);
}

.Skills .Skills-1 div div span {
  padding: 8px;
}

.Skills .Skills-1 div div .second {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  color: gray;
  font-size: 12px;
}

.Skills .Skills-1 div img {
  width: 40px;
}

.Skills .Skills-1 div ul {
  padding: 5px 5px 5px 25px;
}

.Skills .Skills-1 div ul li {
  text-align: left;
  list-style-type: circle;
}

.Skills .Skills-2 {
  padding: 50px 0px 50px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 auto;
}

.Skills .Skills-2 .skill {
  box-sizing: border-box;
  width: 45%;
  border: 1px solid white;
  border-radius: 7px;
  margin: 0 10px 30px 10px;
  padding: 10px;
  animation: slide-right;
  animation-duration: 1s;
}

.Skills .Skills-2 .skill div {
  border: none;
  padding: 5px;
  margin: 0px;
  display: flex;
  width: auto;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--header-color);
}

.Skills .Skills-2 .skill div span {
  padding: 8px;
}

.Skills .Skills-2 .skill img {
  width: 40px;
}

.Skills .Skills-2 .skill ul {
  padding: 5px 5px 5px 25px;
  text-align: left;
}

.Skills .Skills-2 .skill ul li {
  text-align: left;
  list-style-type: circle;
}

.projects {
  background-color: var(--background-color);
  text-align: center;
  padding: 100px 10px;
  position: relative;
  
}

.projects .title {
  height: 100px;
  position: relative;
}

.projects .title .small {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  animation: slide-left2;
  animation-duration: 1s;
  z-index: 100;
}

.projects .title .big {
  font-family: sans-serif;
  position: absolute;
  font-size: 3em;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  animation: slide-right2;
  animation-duration: 1s;
  letter-spacing: 0px;
  font-weight: 1000;
  opacity: 1;
}

.projects .projects-1 {
  padding: 50px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
  animation: slide-right;
  animation-duration: 1s;
}

.projects .projects-1 > div {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 7px;
  margin: 0 20px 40px;
  padding: 10px;
}

.projects .projects-1 .con-title {
  border: none;
  padding: 5px 10px;
  margin: 0px;
  display: flex;
  width: auto;
  background-color: var(--header-color);
  position: relative;
  border-radius: 5px;
}

.projects .projects-1 .con-wrap {
  display: flex;
}

.projects .projects-1 .imgwrap {
  width: 50%;
  padding: 10px;
  margin: auto 0;
}

.projects .projects-1 .imgwrap > img {
  width: 100%;
  height: auto;
}

.projects .projects-1 .textwrap {
  width: 50%;
  padding: 10px;
  text-align: left;
  font-size: 1em;
}

.link {
  text-decoration: none;
  color: var(--sub-color);
}

@media screen and (max-width: 1200px) {
  body {
    padding: 0 10%;
  }

  .Menu {
    width: 80vw;
  }

  .Skills .Skills-1 div {
    /* width: 45%; */
  }
}

@media screen and (max-width: 720px) {
  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  body {
    padding: 0%;
    background-color: var(--background-color);
  }

  .Menu {
    height: 50px;
    width: 100vw;
    z-index: 100;
  }

  .Menu .Menu-1 {
    position: absolute;
    top: -7px;
    left: -10px;
    font-size: 0.7rem;
  }

  .Menu .Menu-2 {
    right: 10px;
    z-index: 100;
    top: 10px;

  }

  .Menu .Menu-2 .ham {
    padding-right: 10px;
    display: block;
  }

  .Menu .Menu-2 a {
    background-color: var(--header-color);
    margin-top: 30px;
    border-radius: 1px solid #fff;
    border-color: #fff;
  }

  .Menu .Menu-2 .menu-item {
    display: none;
    
  }

  .Menu .Menu-2.show .menu-item {
    display: block;
    animation: slideInFromRight 0.5s ease-out forwards;
    z-index: 101;
  }

  .dashboard {
    padding: 15% 20px;
  }

  .dashboard .dashboard-1 h1 {
    font-size: 0.9rem;
  }

  .dashboard .dashboard-1 p {
    font-size: 0.9rem;
  }

  .dashboard .dashboard-1 {
    height: 150px;
  }

  .dashboard .dashboard-1 img {
    width: 100px;
    z-index: 1;
  }
  .dashboard .dashboard-2 h2 {
    font-size: 1.1rem;
  }
  .dashboard .dashboard-2 {
    padding-bottom: 0px;
  }

  .dashboard .dashboard-2 ul {
    padding-left: 0px;
  }

  .dashboard .dashboard-2 ul li {
    font-size: 0.8rem;
    width: 50%;
  }
  .dashboard .dashboard-2 ul li:nth-child(5) {
    width: 100%;
  }

  .dashboard .dashboard-3 {
    padding-top: 10px;
  }

  .dashboard .dashboard-3 {
    font-size: 0.8rem;
  }

  .dashboard .dashboard-4 {
    font-size: 0.8rem;
  }

  .Skills {
    padding: 50px 20px;
  }

  .Skills .title .small {
    top: 20px;
  }

  .Skills .Skills-1 {
    padding: 50px 0 0 0;
  }

  .Skills .Skills-1 div {
    width: 100%;
  }

  .Skills .Skills-1 div div {
    height: 40px;
  }

  .Skills .Skills-1 div div > img {
    width: 30px;
  }
  .Skills .Skills-1 div div > svg {
    width: 30px;
    top: 5px;
  }

  .Skills .Skills-1 div ul li {
    font-size: 0.8rem;
  }

  .Skills .Skills-1 div div > span {
    padding: 0;
    padding-left: 10px;
  }

  .Skills .Skills-2 {
    padding-top: 20px;
    padding-left: 0px;
  }

  .Skills .Skills-2 div {
    width: 100%;
  }
  .Skills .Skills-2 div div {
    height: 40px;
  }
  .Skills .Skills-2 div div > img {
    width: 30px;
  }

  .Skills .Skills-2 div ul li {
    font-size: 0.8rem;
  }
  .Skills .Skills-2 div ul a {
    font-size: 0.8rem;
  }

  .projects .title .small {
    top: 20px;
  }

  .projects .projects-1 .con-title {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .projects .projects-1 .con-wrap {
    display: block;
  }

  .projects .projects-1 .imgwrap {
    width: 95%;
    margin: auto;
  }

  .projects .projects-1 .textwrap {
    width: 90%;
    text-align: left;
    padding: 0 5px 5px 5px;
    font-size: 0.8rem;
  }

}
