@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    background-color: black;    
    font-family: 'Noto Sans KR', sans-serif;
    color: white;    
    padding: 0 20%;
}

.Menu {
    background-color: #ffb400;
    display: flex;
    position: relative;

    .Menu-1 {
        width: 300px;
        margin-left: 30px;
        font-size: 1em;

        a {            
            color: white;
            text-decoration: none;
            font-weight:bolder;
        }
    }

    .Menu-2 {
        text-align: right;
        top: 30px;
        right: 50px;
        position: absolute;
        font-size: 1em;

        a {
            border: 1px white solid;
            border-radius: 7px;
            margin-left: 50px;
            padding: 5px 10px;
            color: white;
            text-decoration: none;
            background-color: #1d2a3a;
        }    
    }
}

.dashboard {
    background-color: #1d2a3a;
    border: 1px solid black;
    padding-left: 5%;
    .dashboard-1 {
        position: relative;
        height: 300px;
        p {
            width: 60%;
            font-size: 1.7em;
        }
        img {
            width: 180px;
            position: absolute;
            right: 5%;
            top: 5%;
            border-radius: 7px;
        }
    }

    .dashboard-2 {
        padding-bottom: 80px;
        ul {
            display: flex;
            flex-wrap: wrap;                
            li {
                list-style-type: none;
                width: 30%;
                padding-bottom: 20px;
                font-weight: 500;
                font-size: 1em;
                color: #ffb400;

                span {
                    color: #fff;
                }
            }
        }     
    }

    .dashboard-3 {
        p {
            font-size: 1em;
            padding-right: 5%;
        }
    }
}

.Skills {
    background-color: #1d2a3a;
    text-align: center;
    padding: 50px;

    .Skills-1 {
        padding: 50px 0 50px 0;
        display: flex;
        flex-wrap: wrap;     
        div {
            box-sizing: border-box;
            width: 29%;
            border: 1px solid white;
            border-radius: 7px;
            margin: 0 20px 30px;
            padding: 20px 15px;

            div{
                border: none;
                padding: 5px;
                margin: 0px;
                display: flex;
                width: auto;
                background-color: #ffb400;
                span {
                    padding:8px;
                }
            }            
            img {
                width: 40px;
            }
            li {
                text-align: left;
                list-style-type:circle;

            }
        }        
    }
}