@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@keyframes slide-left {
    0% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0%);
    }
}



@keyframes slide-right {
    0% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0%);
    }
}

body {
    background-color: black;    
    font-family: 'Noto Sans KR', sans-serif;
    color: white;    
    padding: 0 20%;
}

.Menu {
    background-color: #ffb400;
    display: flex;
    position: relative;

    .Menu-1 {
        width: 300px;
        margin-left: 30px;
        font-size: 1em;

        a {            
            color: white;
            text-decoration: none;
            font-weight:bolder;
        }
    }

    .Menu-2 {
        text-align: right;
        top: 30px;
        right: 50px;
        position: absolute;
        font-size: 1em;

        a {
            border-radius: 100px;
            margin-left: 50px;
            padding: 10px 15px;
            color: white;
            text-decoration: none;
            background-color: #1d2a3a;
        }    
    }
}


.dashboard {
    background-color: #1d2a3a;
    border: 1px solid black;
    padding: 50px;

    .dashboard-1 {
        position: relative;
        height: 300px;
        h1 {
            animation: slide-left;
            animation-duration: 1s;
        }
        p {
            width: 60%;
            font-size: 1.7em;    
            margin: 0px;        
            animation: slide-right;
            animation-duration: 1s;
        }
        // .p1 {
        //     animation-delay: 100ms;
        // }
        // .p2 { 
        //     animation-delay: 200ms;
        // }
        // .p3 { 
        //     animation-delay: 300ms;
        // }
        img {   
            animation: slide-right;
            animation-duration: 1s;
            width: 180px;
            position: absolute;
            right: 0%;
            top: 0%;
            border-radius: 7px;
        }
    }

    .dashboard-2 {
        padding-bottom: 80px;
        h2 {                    
            animation: slide-left;
            animation-duration: 1s;
        }
        ul {
            display: flex;
            flex-wrap: wrap;      
            padding-left: 20px;              
            animation: slide-right;
            animation-duration: 1s;        
            li {
                list-style-type: none;
                width: 33%;
                padding-bottom: 20px;
                font-weight: 500;
                font-size: 1em;
                color: #ffb400;

                span {
                    color: #fff;
                }
            }
        }     
    }

    .dashboard-3 {
        padding-top: 60px;        
        animation: slide-right;
        animation-duration: 1s;
        p {
            font-size: 1em;
            padding-right: 5%;
        }
    }
}

@keyframes good {
    0% {
        transition: all 1.1s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0s;
        letter-spacing: 20px;
    }
}

.Skills {
    background-color: #1d2a3a;
    text-align: center;
    padding: 50px;

    .title {
        height: 100px; 
        position: relative;


        .small{
            // position: absolute;    
            top:2%;
            right: 42%;            
            animation: slide-left;
            animation-duration: 1s; 
        }
        .big {
            font-family: sans-serif;
            position: absolute;
            font-size: 4em;
            right: 38%;
            color: black;
            animation: good;
            animation-duration: 1s; 

            font-size: 50px;
            letter-spacing: 0px;
            text-transform: uppercase;
            font-weight: 1000;
            opacity: 1;
        }
    }
    

    .Skills-1 {
        padding: 50px 0 50px 0;
        display: flex;
        flex-wrap: wrap;     
        div {
            box-sizing: border-box;
            width: 30%;
            border: 1px solid white;
            border-radius: 7px;
            margin: 0 10px 30px;
            padding: 10px;
            animation: slide-right;
            animation-duration: 1s;

            div{
                border: none;
                padding: 5px;
                margin: 0px;
                display: flex;
                width: auto;
                background-color: #ffb400;
                span {
                    padding:8px;
                }
            }            
            img {
                width: 40px;
            }

            ul {
                padding: 5px 5px 5px 25px;

                li {
                    text-align: left;
                    list-style-type:circle;
    
                }
            }
            
        }        
    }

    .Skills-2 {
        padding: 50px 0 50px 0;
        display: flex;
        flex-wrap: wrap;     
        div {
            box-sizing: border-box;
            width: 47%;
            border: 1px solid white;
            border-radius: 7px;
            margin: 0 10px 30px 10px;
            padding: 10px;
            animation: slide-right;
            animation-duration: 1s;

            div{
                border: none;
                padding: 5px;
                margin: 0px;
                display: flex;
                width: auto;
                background-color: #ffb400;
                span {
                    padding:8px;
                }
            }            
            img {
                width: 40px;
            }

            ul {
                padding: 5px 5px 5px 25px;

                li {
                    text-align: left;
                    list-style-type:circle;
    
                }
            }
            
        }        
    }
}

.Projects {
    background-color: #1d2a3a;
    text-align: center;
    padding: 50px;
    position: relative;

    .title {
        height: 100px;
        h1{        
            animation: slide-left;
            animation-duration: 1s;
        }
    }
    

    .Projects-1 {
        padding: 50px 0 50px 0;
        display: flex;
        flex-wrap: wrap;   
        animation: slide-right;
        animation-duration: 1s;  

        div {
            width: 100%;
            box-sizing: border-box;
            border: 1px solid white;
            border-radius: 7px;
            margin: 0 20px 40px;
            padding: 10px;    
            .div1 {
                border: none;
                padding: 5px;
                margin: 0px;
                display: flex;
                width: auto;
                background-color: #ffb400;
                position: relative;
                span {
                    padding:8px;
                }
            } 
            .div2 {
                border: none;
                padding: 0 5px 0 10px;
                display: flex;
                margin: 0px;

                ul {
                    padding: 10px;
                    width: 60%;

                    li {
                        text-align: left;
                        list-style-type:circle;
                        padding-bottom: 10px;

                        a {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }
                img {
                    width: 40%;
                    height: 35%;
                    border-radius: 7px;
                    margin: 30px 0 30px 0;
                    cursor: pointer;                    
                }      
                div {
                    border: none;
                    width: 40%;
                    height: 35%;
                    border-radius: 7px;
                    margin: 30px 0 30px 0
                }          
            }
            
        }  
    }

    .modal {
        position: fixed;
        top: 8%;
        left: 12%;
        width: 70%;
        padding: 30px;
        border-radius: 7px;
        background-color: #fff;

        div {
            padding-bottom: 15px;
        }

        button {
            position: absolute;
            top: 1%;
            right: 1%;
        }
        img {
            border: 1px solid gray;
            border-radius: 7px;
            width: 90%;
        }
    }
}

