
/* 일반 스타일 */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 18px;
  }
  
  /* 반응형 스타일 */
  @media (max-width: 768px) {
    /* 화면 크기가 768px 이하인 경우에만 적용되는 스타일 */
    .container {
      padding: 10px;
    }
  
    .title {
      font-size: 20px;
      margin-bottom: 5px;
    }
  
    .text {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    /* 화면 크기가 480px 이하인 경우에만 적용되는 스타일 */
    .container {
      padding: 5px;
    }
  
    .title {
      font-size: 18px;
      margin-bottom: 2px;
    }
  
    .text {
      font-size: 14px;
    }
  }
  